@import './_variables';
@import './_mixins';
@import './_btns';

@media only screen and (max-width: 500px) {
  .task-input {
    display: flex;
    width: 350px;
    height: 50px;
    margin: 0;
  }
  .inputText {
    width: 230px;
    height: 50px;
    font-size: 1rem;
  }
  .content-box {
    max-width: 370px;
  }
  .task-boxes {
    max-width: 350px;
    height: 40px;
  }
  input {
    width: 215px;
    color: white;
    transition: .5s ease-in-out;
  }
.btn-delete, .btn-edit {
  font-size: 0.85rem;
}
#btn-add-task {
  width: 150px;
  font-size: 1rem;
}
}