@import './_variables';

@media only screen and (max-width: 500px) {
  .task-input {
    width: 400px;
    height: 50px;
  }
  .inputText {
    width: 250px;
    height: 50px;
    font-size: 1rem;
  }
  .content-box {
    max-width: 400px;
  }

  .task-boxes {
    max-width: 400px;
    height: 40px;
  }
  input {
    width: 250px;
    color: white;
    transition: .5s ease-in-out;
  }
}